<%= render partial: 'layouts/header', :locals => { :title => 'Procedures' } %>

<div class="row">
  <div class="col-md-12">
    <%= page_entries_info @objects, entry_name: 'procedure' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Identifier</th>
          <th>Type</th>
          <th>Title</th>
          <th>CSID</th>
          <th>Batch</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @objects.entries.each.with_index do |object, i| %>
          <tr>
            <td><%= object.identifier %></td>
            <td><%= object.type %></td>
            <td><%= object.title %></td>
            <td><%= object.csid %></td>
            <td><%= object.data_object.batch %></td>
            <td><%= link_to "View", procedure_path(object) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render partial: 'shared/pagination', :locals => { :objects => @objects } %>