<%= render partial: 'layouts/header', :locals => { :title => @object.identifier } %>

<p>Parent: <%= object_label(@object.data_object) %> <%= link_to "View", object_path(@object.data_object) %></p>

<pre class="xml"><%= @object.content %></pre>

<p>Return to <%= link_to 'Procedures', procedures_path %></p>