<div class="col-md-2 sidebar">
  <div class="list-group">
    <%= link_to 'Import', '#', class: 'list-group-item' %>
    <%= link_to 'Transfer', '#', class: 'list-group-item' %>
    <%= link_to 'Objects', objects_path, class: 'list-group-item' %>
    <%= link_to 'Procedures', procedures_path, class: 'list-group-item' %>
    <%= link_to 'Relationships', '#', class: 'list-group-item' %>
  </div>
</div>