<div class="row">

  <%= render partial: 'shared/sidebar' %>

  <div class="col-md-10">
    <%= render partial: 'shared/title', :locals => { :title => 'Objects' } %>

    <div class="row">
      <div class="col-md-12">
        <%= page_entries_info @objects, entry_name: 'object' %>
      </div>
    </div>

    <% if @objects.any? %>
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead class="">
              <tr>
                <th>Identifier</th>
                <th>Batch</th>
                <th>Converter</th>
                <th>Profile</th>
                <th>Created</th>
                <th>Updated</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @objects.entries.each.with_index do |object, i| %>
                <tr>
                  <td><%= object.id %></td>
                  <td><%= object.import_batch %></td>
                  <td><%= object.converter_module %></td>
                  <td><%= object.converter_profile %></td>
                  <td><%= short_date object.created_at %></td>
                  <td><%= short_date object.updated_at %></td>
                  <td><%= link_to "View", object_path(object) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <%= render partial: 'shared/pagination', :locals => { :objects => @objects } %>
    <% end %>

  </div>

</div>
