<div class="row">

  <%= render partial: 'shared/sidebar' %>

  <div class="col-md-10">

    <%= render partial: 'shared/title', :locals => { :title => @object.id } %>

    <div class="row">
      <div class="col-md-12">
        <dl class="dl-horizontal metadata">
          <dt class="col-sm-3">File</dt>
          <dd class="col-sm-9"><%= @object.import_file %></dd>

          <dt class="col-sm-3">Batch</dt>
          <dd class="col-sm-9"><%= @object.import_batch %></dd>

          <dt class="col-sm-3">Converter</dt>
          <dd class="col-sm-9"><%= @object.import_converter %></dd>

          <dt class="col-sm-3">Profile</dt>
          <dd class="col-sm-9"><%= @object.import_profile %></dd>
        </dl>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="text-muted">Procedures</p>
        <table class="table">
          <thead>
            <tr>
              <th>Type</th>
              <th>Identifier</th>
            </tr>
          </thead>
          <tbody>
            <% @object.procedure_objects.each do |procedure| %>
              <tr>
                <td><%= procedure.type %></td>
                <td><%= link_to procedure.identifier, procedure_path(procedure) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="text-muted">Document</p>
        <pre class="json"><%= JSON.pretty_generate(JSON.parse(@object.to_json)) %></pre>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>Return to <%= link_to 'Objects', objects_path %></p>
      </div>
    </div>

  </div>

</div>