<%= render partial: 'layouts/header', :locals => { :title => 'Object' } %>

<h2><%= object_label(@object) %></h2>

<% @object.procedure_objects.each do |procedure| %>
  <p><%= procedure.type %> <%= link_to procedure.identifier, procedure_path(procedure) %></p>
<% end %>

<p>Return to <%= link_to 'Objects', objects_path %></p>